<!DOCTYPE HTML>
<head></head>
<body>
	
	<html lang="en">
<head>
<title>Home Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
<head>
<!-- <style>
    body  {
        background-image: url("review.jpg");
        background-repeat: no-repeat, repeat;
        background-size: cover;
                }
</style> -->

<style>
body  {
  background-image: url("https://miro.medium.com/max/670/1*Df-gJ2MOIZmoDKPVnva39A.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
                }
}
</style>


<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
<h1 style="font-family:Times New Roman; text-align:center;">Customer Sentiment on Products based on Reviews </h1>

  
  <a href="prediction.html" target="_self"><button type="button" class="btn btn-success">PREDICTION</button></a><br><br> 
</div>
<br>




